*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  // overflow: hidden;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  overflow: hidden;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}