@font-face {
  font-family: "IRANSans";
  src: url("../assets/fonts/IRANSans.ttf");
}
@font-face {
  font-family: "IRANSansLight";
  src: url("../assets/fonts/IRANSans-Light.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "IRANSansBold";
  src: url("../assets/fonts/IRANSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand.ttf");
}
@font-face {
  font-family: "QuicksandLight";
  src: url("../assets/fonts/Quicksand-Light.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "QuicksandBold";
  src: url("../assets/fonts/Quicksand-Bold.ttf");
  font-weight: bold;
}

body, button {
  font-family: $font-primary-light;
  font-size: 1.6rem;
  color: white;
}