@font-face {
  font-family: "IRANSans";
  font-weight: normal;
  src: url("../assets/fonts/IRANSans.ttf");
}
@font-face {
  font-family: "IRANSans";
  font-weight: bold;
  src: url("../assets/fonts/IRANSans-Bold.ttf");
}
@font-face {
  font-family: "Quicksand";
  font-weight: normal;
  src: url("../assets/fonts/Quicksand.ttf");
}
@font-face {
  font-family: "Quicksand";
  font-weight: bold;
  src: url("../assets/fonts/Quicksand-Bold.ttf");
}

body, button, a {
  font-family: $font-primary;
  font-size: 1.6rem;
  color: white;
}

.partition {
  margin-bottom: 2rem;

  p {
    margin-top: 3px;
  }
}