$color-primary-dark: rgb(0, 54, 116);
$color-primary-light: #1DA1F2;
$color-secondary-dark: rgb(156, 5, 5);
$color-secondary-light: #ffffff;

$font-primary: 'IRANSans', sans-serif;
$font-secondary: 'Quicksand', sans-serif;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };  // 600px
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 75em) { @content };  // 1200px
  }
}